# TMDB API (already have key)
VITE_TMDB_API_KEY='https://api.themoviedb.org/3/movie/${type}?api_key=183928bab7fc630ed0449e4f66ec21bd'

# OMDB API (register free at omdbapi.com/apikey.aspx)
VITE_OMDB_API_KEY=28a0dbd9

# Firebase (create project at console.firebase.google.com)
VITE_FIREBASE_API_KEY=AIzaSyC7c_rT1FsTZVT2vD58iD9g1UfMMBEjsMk
VITE_FIREBASE_AUTH_DOMAIN=popcornpoll.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=popcornpoll
VITE_FIREBASE_STORAGE_BUCKET=popcornpoll.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=778013907051
VITE_FIREBASE_APP_ID=1:778013907051:web:a930a76b412e48c191b92e
